*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: 0;
  color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Circular Std", sans-serif;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.d-flex {
  display: flex;
}

.header {
  font-size: 17px;
  padding: 50px 0;
}
.header__logo img {
  display: inline-block;
  height: 44px;
  width: 93px;
}
.header__search {
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.header__search-bar img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.header__search-bar #search {
  width: 100%;
  height: 30px;
  border-style: none;
  outline-style: none;
}
.header__user-elements {
  gap: 30px;
}
.header__user-elements img {
  height: 19px;
  width: 19px;
}
.header__navigation {
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.header__menu ul {
  gap: 42px;
}
.header__menu ul li .active {
  border-bottom: 2px solid black;
  width: 72px;
  padding-bottom: 7px;
}
.header__menu ul li :hover {
  transition: 0.3s;
  border-bottom: 2px solid black;
  width: 72px;
  padding-bottom: 7px;
}

.header__hamburger-menu {
  display: none;
}

@media (max-width: 1080px) {
  .header .container {
    max-width: 960px;
  }
}
@media (max-width: 960px) {
  .header .container {
    max-width: 850px;
  }
  .header .row {
    flex-direction: column;
  }
  .header__search {
    gap: 240px;
    margin-bottom: 50px;
  }
}
@media (max-width: 550px) {
  .header .container {
    max-width: 425px;
  }
  .header__search {
    gap: 100px;
  }
  .header__navigation {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .header {
    position: relative;
    font-size: 15px;
  }
  .header .container {
    max-width: 375px;
  }
  .header__hamburger-menu {
    display: block;
  }
  .header__search {
    margin-bottom: unset;
  }
  .header__navigation nav {
    display: none;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    background-color: #F4DE4D;
  }
  .header__navigation nav ul a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .header__navigation ul {
    flex-direction: column;
    gap: unset;
  }
  .header__navigation ul li .active {
    border-bottom: none;
    width: unset;
  }
  .header__navigation ul li :hover {
    border-bottom: none;
    width: unset;
  }
}
.header__hamburger-menu #header__menu-toggle:checked + nav {
  display: block;
}

/*# sourceMappingURL=style.css.map */
