.header {
  @media (max-width: 1080px) {
    .container {
      max-width: 960px;
    }
  }
  @media (max-width: 960px) {
    .container {
      max-width: 850px;
    }
    .row {
      flex-direction: column;
    }
    &__search {
      gap: 240px;
      margin-bottom: 50px;
    }
  }
  @media (max-width: 550px) {
    .container {
      max-width: 425px;
    }
    &__search {
      gap: 100px;
    }
    &__navigation {
      flex-direction: column;
    }
  }
  @media (max-width: 425px) {
    & {
      position: relative;
      font-size: 15px;
    }
    .container {
      max-width: 375px;
    }
    &__hamburger-menu {
      display: block;
    }
    &__search {
      margin-bottom: unset;
    }
    &__navigation {
      nav {
        display: none;
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        background-color: #F4DE4D;

        ul {
          a {
            display: block;
            text-align: center;
            padding: 10px 0;
          }
        }
      }

      ul {
        flex-direction: column;
        gap: unset;

        li {
          .active {
            border-bottom: none;
            width: unset;
          }

          :hover {
            border-bottom: none;
            width: unset;
          }
        }
      }
    }
  }

  &__hamburger-menu {
    #header__menu-toggle{
    &:checked {
      & + nav {
        display: block;
      }
    }
  }
}
}