* {
  font-family: $main-font;
}
.container{
  max-width: $container;
  padding: $padding-sides;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col{
  width: 100%;
}
.d-flex{
  display: flex;
}